<section class="portfolioProjectContainer">
    <section class="portfolioProject">
        <!-- <article id="card"><img id="thumbnail" ng-src="{{portfolioProject.coverImage}}" />
            <input id="title" type="text" placeholder="{{portfolioProject.title}}" ng-model="portfolioProject.title" />
            <textarea id="description" rows="4" cols="50" ng-model="portfolioProject.description"></textarea>
            <input id="submit" type="button" value="Submit" ng-click="saveCard()" />
            <input id="submit" type="button" value="Delete" ng-click="removeProject()" /> </article> -->
            <portfolio-project-card></portfolio-project-card>
        <comment-box></comment-box>
    </section>
    <article id="files">
        <label id="portfolioProjectDropZone" for="portfolioProjectDrop"> <span><img ng-src="../../images/add_button.svg"/></span> </label>
        <input id="portfolioProjectDrop" type="file" value="Add project" />
        <article class="portfolioImage" ng-repeat="file in filteredPortfolioProjects track by $index">
            <img ng-src="{{file.dataURI}}"></figure>
            <!--<figure ng-style="{'background-image':'url({{file.dataURI}})'}" ng-click="largerView(file)"></figure>-->
            <span ng-click="removeFile(file.filename)">Remove</span>
        </article>
    </article>
</section>