<modal-window bind-compiled-html="taskAddModalWindow.html" bind-title="taskAddModalWindow.title" use="taskAddModalWindow.use"></modal-window>
<h2>{{project.title}}</h2>
<gantt></gantt>
<chat></chat>
<br class="clear" />
<section class="taskList">
    <h2>Task List</h2>
    <span class="task-item" ng-repeat="task in tasks track by $index">{{task.taskName}}<span class="confirmTask" ng-click="confirmTask(task.taskName)">&#x2611;</span><span class="removeTask" ng-click="removeTask(task.taskName)">&#x2612;</span></span><br ng-repeat="task in tasks track by $index"/>
    <input type="button" ng-click="setComplete()" value="Sign Off">
</section> 
<a href="../creative/dashboard" id="jobListing">Job Listing</a>